<p>Dear <%= @name %>,</p>

<p>Thank you for buying <b><%= @product_title %></b> from our store!</p>

<p>We will love to serve you again soon and also we want you to share your views about the product and its usability. We are focused to provide quality product at the most affordable price. Please give us good product feedback for this product. It will be a great encouragement to us to keep our services upto the mark. If you are not satisfied with this product then please contact us @@. So that, you will be delighted and we will get a chance to improve.</p>

<span>
Step to provide product feedback:
<pre>
1. Log in Into  Your  Amazon Account
2. Go to " Your  Orders"
3. Search  Your  Order ID
4. Click on "Write a Product Review" Button.
</pre>
<p>Or Visit the product page again - <%= link_to @feedback_url, @feedback_url %> </p>

</span>

<p>Again we wish you a great Happy Shopping with us.</p>

<p>- Jaidev Mal & Sons</p>
