<p>Dear <%= @name %>,</p>

<p>Thank you for buying <b><%= @product_title %></b> from our store!</p>

<p>We are really eager to know about the product purchased by you. Please give your Positive Feedback. It will be a great encouragement to us to keep our services upto the mark.</p>
<div>
  <span>
    We are focused to provide quality products at the most affordable price. Please give us good product feedback for this product. If you are not satisfied with this product then please reply us back or  contact us via WhatsApp @<b>9205466517</b>. So that, we will get a chance to improve and make you delighted because you satisfaction matter to us most!
  </span>
</div>
<br>
<div>
  <span>
    Steps to provide product feedback:
    <pre>
    1. Log in Into  Your  Amazon Account
    2. Go to " Your  Orders"
    3. Search  Your  Order ID
    4. Click on "Write a Product Review" Button.
    </pre>
    <p>Or Visit the product page again - <%= link_to @feedback_url, @feedback_url %> </p>
  </span>
</div>
<br>
<p>We will love to serve you again soon. Again, we wish you a great Happy Shopping with us.</p>

<b><p>- Jaidev Mal & Sons</p></b>
